@font-face {
  font-family: base-font;
  src: url("../css/fonts/rocko/RockoFLF.ttf");
}

@font-face {
  font-family: base-font-bold;
  src: url("../css/fonts/rocko/RockoUltraFLF.ttf");
  font-weight: bold;
}

@media print {
	.outputCV {
		margin: 5% 2% !important;
		background-color: white !important;
		width: 100% !important; 
		min-height: 100% !important;
		border-radius: 0px !important;
	}

	.introduction {
		font-size: 1.05rem !important;
		margin: 0 5% 10% !important;	
		grid-column-gap: 40px !important;
		grid-row-gap: 20px !important;
	}

	h2 {
		font-family: base-font-bold;
	}

	.fullName {
		font-size: 2rem !important;
}

	.profession {
		font-size: 1.8rem !important;
	}

	.contactInfo > p {
		margin: 2% 0 !important;
	}

	.summary {
		font-size: 1.7rem !important;
	}

	.workHistory {
		margin-bottom: 5% !important;
	}

	.jobName {
		font-weight: 600 !important;
		font-size: 1.2rem !important;
		margin-bottom: 2px !important;
	}

	.jobPosition {
		font-size: 1.1rem !important;
		margin-bottom: 2px !important;
	}
	
	.dates {
		font-size: .9rem !important; 
		margin-bottom: 1% !important;
	}

	.jobDescription {
		font-size: 1rem !important; 
		margin-bottom: 2% !important;
	}

	.educationName {
		font-weight: 600 !important;
		font-size: 1.2rem !important;
		margin-bottom: 2px !important;
	}

	.certificateName {
		font-size: 1.1rem !important;
		margin-bottom: 2px !important;
	}
	
	.dateAcquired {
		font-size: .9rem !important; 
		margin-bottom: 1% !important;
	}

	.educationDescription {
		font-size: 1rem !important; 
		margin-bottom: 2% !important;
	}
}

:root {
	/* Don Juan */
  --header-color: #594f4f;
	/* Snow Flurry */
  --cv-background: #f6eeee;
	/* Softer Black Color */
	--secondary-title-color: #232b2b;

}

/* width */
.outputCV::-webkit-scrollbar {
	margin: 2vh 0;
	width: 10px;
}

/* Track */
.outputCV::-webkit-scrollbar-track {
  background: transparent;
	margin: 3vh 0;
}

.outputCV {
	background-color: var(--cv-background);
	overflow-y: auto;
  margin: 0 4% 0 auto;
  padding: 0 0 5%;
  border-radius: 30px;
  width: 80%;
	height: 700px;
  display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(3, 1fr);
	
}

p {
	margin: 0;
}

.introduction {
	font-size: .75rem;
	display: grid;
	margin: 0 5%;	
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-template-columns: 50% 50%;
	grid-column-gap: 24px;
	grid-row-gap: 8px;
	align-content: center;
}

.introduction p {
	margin: 0;
}

.fullInfo {
	margin-top: 2%;
	margin-left: 7%;
}

.fullName {
	font-size: 1.2rem;
}

.profession {
	font-size: 1.3rem;
	font-family: base-font-bold;

}

.summary {
	grid-row-start: 2;
	grid-row-end: 3;
}

.summaryTextArea {
	font-size: .8rem;
	padding: 0 4%;
}

.contactInfo {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	margin-right: 10%;
	word-break: break-all;
}

.workHistory {
	display: flex;
	flex-direction: column;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.educationHistory {
	display: flex;
	flex-direction: column;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.jobName {
	font-size: .9rem;
}

.jobPosition {
	font-size: .8rem;
}

.dates{ 
	font-size: .75rem
}

.jobDescription {
	font-size: .75rem;
	margin-bottom: 10px;
}

.educationName {
	font-size: .9rem;
}

.certificateName {
	font-size: .8rem;
}

.dateAcquired {
	font-size: .75rem
}

.educationDescription {
	font-size: .75rem;
	margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
	.outputCV {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		position: fixed;
		top: 0;
		right: 1.5%;
		margin: 15vh auto;
		height: 70vh;
		padding: 6vh 0;
		width: 43%;
	}
}
