@font-face {
  font-family: base-font;
  src: url("./css/fonts/rocko/RockoFLF.ttf");
}

@font-face {
  font-family: base-font-bold;
  src: url("./css/fonts/rocko/RockoUltraFLF.ttf");
  font-weight: bold;
}

:root {
  /* Color Pallete Variables */
  /* Found this color palette online - Flat Palette #7 by Mark Bradbourne */
  /* Don Juan */
  --header-color: #594f4f;
  /* Ocean Current */
  --main-bg-color: #547980;
  /* Snow Flurry */
  --cv-background: #f6eeee;
  /* Verdigris */
  --baby-blue: #45ada8;
  /* Dead 99 */
  --greenish-blue: #9de0ad;
  /* Softer Black Color */
  --secondary-title-color: #232b2b;

  /* Viewport Variables */
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1200px;

  /* Font Variables */
  font-family: base-font;
  font-size: 16px;

  /* Other base manipulations */
  letter-spacing: 1px;
  /* margin-top: 1em; */
}

/* width */
::-webkit-scrollbar {
  margin: 2vh 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--greenish-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
	overflow: hidden;
}

header {
  background-color: var(--header-color);
  height: 10vh;
  /* width: 100vw; */
}

#title {
  font-family: base-font-bold;
  color: var(--cv-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 3px;
  height: 100%;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

input {
  font-family: base-font;
  font-size: 0.9rem;
  margin: 0 3% 16px;
  padding: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4% 8%;
}

h1 {
  font-family: base-font-bold;
  font-size: 1.5rem;
  padding-left: 5%;
}

h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.toolbar {
  position: fixed;
  display: flex;
  flex-direction: column;
}

.toolbar-button {
  background-color: var(--cv-background);
  border-left: 0px;
  margin: 0 1vw 1vh auto;
  /* margin-bottom: 10px; */
  padding: 1vh;
  border-radius: 0 29px 29px 0;
  transition: padding-left ease-in-out 0.5s;
}

.toolbar img {
  height: 40px;
  width: 40px;
}

.print-button {
  background-color: #98ff98;
  margin-bottom: 50px;
}

.generate-sample-button {
  background-color: #fac898;
}

.reset-button {
  background-color: #ff493f;
}

textarea {
  font-size: 1.15rem;
  overflow: hidden;
  resize: none;
  display: flex;
  margin: 0 auto 5%;
  width: 85%;
  min-height: 100px;
  border-radius: 20px;
  padding: 5%;
}

.preview-padding {
  padding: 0 5%;
}

.place-center {
  justify-content: center;
  justify-self: center;
}

.toPrint {
  min-height: 100% !important;
}

.tutorial-focus {
	position: absolute;
  background-color: #55555559;
  display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.tutorial-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
	border-radius: 30px;
  background-color: white;
  width: 400px;
  height: 400px;
}

.tutorial-content {
	margin: 0 5%;
	text-align: center;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}


.tutorial-image {
	margin-bottom: 5%;
	width: 150px;
	height: 150px;
}

.tutorial-button-svgs {
	width: 100%;
	height: 100%;
}

.tutorial-content p {
	display: flex;
	align-items: center;
	font-size: 1rem;
	margin-bottom: 5%;
	min-height: 100px;
}

.tutorial-buttons {
	display: flex;
	width: 60%;
	justify-content: space-between;
}

.tutorial-buttons section {
}

@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 7% repeat(2, 1fr);
    grid-template-rows: 100%;
    margin: 0 1% 0 0;
  }

  .toolbar {
    margin-top: 5vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .print-preview-button {
    display: none;
  }
}
